/* src/components/Modal.css */
.start-new-match-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-new-match-modal-content {
  background: rgba(22, 165, 131, 1);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.start-new-match-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
